.container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#color-box {
    width: 200px;
    height: 200px;
    background-color: greenyellow;
}
#change-color-btn {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  #change-color-btn:hover {
    background-color: #2980b9;
  }
  